@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper .swiper-pagination-bullet-active {
  background-color: #1435c3;
}
.swiper-pagination-bullet {
  background-color: #809298;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 88px;
}
